.Input{
    background-color: #FFFFE0;
    padding: 10px;
}
body{
    background-color: #FFFACD;
}
.form{
    border-color: rgb(223, 9, 9);
    border-style: solid;
    background-color: #EEE8AA;
    border-radius: 10px;

}
.enquiry{
    font-family: 'Alfa Slab One';font-size: 22px;
    color: white;
}
.button{
    border-style: solid;
    border-color: coral;
    background-color: coral;
    border-radius: 50px;

}