body{
    background-color: #FFFACD;
}
.input{

   background-color: rgba(240, 248, 255, 0.125);
    border-color: #EEE8AA;
    border-style: solid;
    border-radius: 10px;
}
.Email{
    border-radius: 100px;
    border-color: black;
    background-color: #FFFFE0;
}
.button{
    border-radius: 100px;
    background-color: #EEE8AA;
    
    /* font-family: initial; */
}
h1{
    color: white;
    text-align: center;
}
a{
    color: yellow;
}
span{
    color: white;
}